
analysis/cyp2c19_2c9_analysis_ignore_this_one.Rmd
data/CYP2C19_data_detailed.csv
figures/srs_analysis/desktop.ini
analysis/desktop.ini
data/barcode_variant_map.csv.gz
data/CYP2C19_data.csv.gz
data/cyp2c19_vampseq_sequencing_data.csv.gz
data/desktop.ini
data/Gordon_2014/desktop.ini
data/Gordon_2014/Gordon_2014_supp_ddt588_ddt588supp_table2.xlsx
data/gricman_2014/desktop.ini
data/md5sums.txt
data/Gordon_2014/Gordon_2014_supp_ddt588_ddt588supp_table2.csv
data/Nelson_Science_data_table_S2.txt
data/sweep/desktop.ini
desktop.ini
figures/clinical/gnomad_maf.png
figures/fig3_assembled.svg
figures/multidms_posmean_fdr.png
figures/shifts_heat_legend_reposition.png
figures/wein_comparison.png
figures/total_freq_scatter.png
figures/sweep_shift_corrplot.svg
figures/sweep_shift_corrplot.png
figures/sweep_means_1e5_2e5_5e5.png
figures/sweep_assembled.svg
figures/sweep_assembled.png
figures/swaps_triple.png
figures/swaps_2c9_triple.png
figures/swaps_2c19_triple.png
figures/supp_fig3.svg
figures/supp_fig3.png
figures/supp_fig1_bottom.svg
figures/supp_fig1_bottom.png
figures/supp_fig10.svg
figures/supp_fig10.png
*.png
*.svg
*.png
data/cyp2c19_vampseq_sequencing_data.csv
